<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../Vuejs/vue.js"></script>
</head>

<body>
    <!-- 准备一个容器 -->
    <div id="root">
        <h1 v-show='true'>一段文字</h1>

        <h1 v-if='true'>一段文字</h1>

        <div>
            此时n是{{n}} <br><button @click="addN">点击n+1</button>
            <div v-if="n === 1">Angular</div>
            <div v-else-if="n === 2">React</div>
            <div v-else-if="n === 3">Vue</div>
            <div v-else>JQ</div>
        </div>

        <template v-if="n==1">
            <h1>TEMPLATE1</h1>
            <h1>TEMPLATE2</h1>
            <h1>TEMPLATE3</h1>
        </template>
        <template v-else-if="n==2">
            <h1>TEMPLATE1111</h1>
            <h1>TEMPLATE2222</h1>
            <h1>TEMPLATE3333</h1>
        </template>
        <template v-else>
            <h1>else</h1>
        </template>

    </div>

    <script type="text/javascript">
        // 创建vue实例
        new Vue({
            el: '#root',
            data: {
                n: 0,
            },
            methods: {
                addN: function () {
                    this.n++;
                },
            },
        })
    </script>
</body>

</html>
<!-- 
    v-if 适用于切换频率低的场景 
        注意：v-if和v-else-if 、 v-else 一起使用时要求结构不能被"中断"

    v-show 适用于切换频率高的场景
        特点：不展示的DOM元素为被移除，仅仅是使用样式隐藏掉


    Vue2官网
    v-if 是“真正”的条件渲染，因为它会确保在切换过程中条件块内的事件监听器和子组件适当地被销毁和重建。

    v-if 也是惰性的：如果在初始渲染时条件为假，则什么也不做——直到条件第一次变为真时，才会开始渲染条件块。

    相比之下，v-show 就简单得多——不管初始条件是什么，元素总是会被渲染，并且只是简单地基于 CSS 进行切换。
    
    一般来说，v-if 有更高的切换开销，而 v-show 有更高的初始渲染开销。因此，如果需要非常频繁地切换，则使用 v-show 较好；如果在运行时条件很少改变，则使用 v-if 较好。
 -->